@keyframes animatedBackground {
  	1% { background-color: #F9F8F8; }
  	2% { background-color: #ABA8A8; }
  	10% { background: url('../img/bg.jpg'); }
  	100% { background: url('../img/bg.jpg'); }
}

body{
	margin: 0;
	animation: animatedBackground 10s linear infinite;
}


canvas{
	margin: 0;
	position: absolute;
	z-index: -999;
}

.poetry{
	float: right;
	margin: 70px;
	font-family: '微软雅黑';
	color: #48544E;
	font-weight: 600;
	line-height: 30px;
	min-width: 976px;
}

.poetry span{
	color: gray;
	margin-left: 30px;
}